@*@model CRUDEF.Models.Teacher

    @{
        ViewData["Title"] = "Index";
    }

    <h2>Index</h2>

    <div>
        <h4>Teacher</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Skills)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Skills)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TotalStudents)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TotalStudents)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Salary)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Salary)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AddedOn)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AddedOn)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper  Email, CRUDEF.TagHelpers.Email

@model IEnumerable<CRUDEF.Models.Teacher>

@{
    var title = "iNDEX";
}

<h1>@title</h1>
<h3><a asp-action="Create" class="btn btn-sm btn-secondary">Create</a></h3>
<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr><th>Id</th><th>Name</th><th>Skills</th><th>Total Students</th><th>Salary</th><th>Added On</th><th>Update</th><th>Delete</th></tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr><td colspan="7" class="text-center">No Model Data</td></tr>
        }
        else
        {
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.Id</td>
                    <td>@p.Name</td>
                    <td>@p.Skills</td>
                    <td>@p.TotalStudents</td>
                    <td>@string.Format(new System.Globalization.CultureInfo("en-US"), "{0:C2}", p.Salary)</td>
                    <td>@string.Format("{0:dddd, dd MMMM yyyy}", p.AddedOn)</td>
                    <td><a asp-action="Update" asp-route-id="@p.Id">Update</a></td>
                    <td>
                        <form asp-action="Delete" method="post" asp-route-id="@p.Id">
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<a asp-protocol="https" asp-host="microsoft.com"
   asp-controller="Home" asp-action="Create">Create</a>
<a asp-action="Register">Register</a>
<a asp-action="Login">Login</a>



